<div class="row justify-content-center" style="margin-top: 25px; color: white;">
    <h2 style="font-weight: 600;">About Us</h2>
</div>

<div class="row">
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Swapnil Fatania</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/avatar.jpg" class="eimg" alt="Swapnil">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Co-Founder</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Punit Suthar</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/avatar.jpg" class="eimg" alt="Punit">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Co-Founder</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Aastha Sardana</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/avatar.jpg" class="eimg" alt="Aastha">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Editor</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Suman Agrawal</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/suman.jpg" class="eimg" alt="Suman">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Editor</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Abhishek Parmar</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/abhi.jpg" class="eimg" alt="Abhi">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Web Developer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Gaurav Chandak</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/gaurav.jpg" class="eimg" alt="Gaurav">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Khaleda Mehjabeen</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/khaleda.jpg" class="eimg" alt="Khaleda">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Kusum Sharma</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/kusum.jpg" class="eimg" alt="Kusum">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Maheen Aroze</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/maheen.jpg" class="eimg" alt="Maheen">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Srishti Poddar</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/srishti.jpg" class="eimg" alt="Srishti">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">Twinkle Rathod</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/twinkle.jpg" class="eimg" alt="Twinkle">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">abc xyz</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/avatar.jpg" class="eimg" alt="avatar">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offset-md-3 col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">abc xyz</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/avatar.jpg" class="eimg" alt="Avatar">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3  col-6">
        <div class="row justify-content-center">
            <div class="flip-card card1 ">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="row justify-content-center e-name">
                            <p class="names">abc xyz</p>
                        </div>
                        <div class="row justify-content-center img-row">
                            <img src="assets/images/avatar.jpg" class="eimg" alt="Avatar">
                        </div>
                        <div class="row justify-content-center d-name">
                            <p class="designation">Writer</p>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="ver-align">
                            <h1>fdfdfsdf</h1>
                            <h2>sdf</h2>
                            <b>
                                <h3>fsdfdsf</h3>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
