pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    font-family: 'GlacialIndifferenceRegular';
}

.storyBlock {
    margin-bottom: 30px;
}

.story {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}