.test {
    /* display: inline-block; */
    position: relative;
    text-align: center;
    color: white;
    top: 37%;
}

.red {
    color: red;
    font-size: 60px;
}

.green {
    color: green;
    font-size: 60px;
}